@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import "compass/css3";
@import "button";
@import "keypad";

html, body { 
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Open Sans', sans serif; font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: space-around;
  color: white;

  h1 {
    margin-top: 200px;
    text-align: center;
  }

  .locked_wrapper {
    width: 50%;
  }

  .unlocked_wrapper {
    width: 100%;
  }

  .hidden {
    display: none;
  }

}
