<%= javascript_pack_tag 'application' %>
<body>
  <div class='locked_wrapper'>
    <%= render 'keypad' %>
  </div>

  <div class='unlocked_wrapper hidden'>
    <h1>
      UNLOCKED!!
    </h1>
  </div>
</body>
