.rotate { display: none; color: #ffffff; position: absolute; left: 50%; top: 50%; text-align: center; width: 400px; height: 50px; margin-left: -200px; margin-top: -25px; }

.keypadwrapper {
  text-align: center; 
  margin-top: 250px;

  .inputwrapper { margin: 2em; line-height: 0.61em;   vertical-align: middle; }

  .numberinput { display: inline-block; height: 50px; width: 50px; border-radius: 50px; border: 1px solid #FFFFFF; margin-right: 2%; margin-left: 2%; font-size: 4em; }

  .keypad {
    display: flex;
    .numberline { width: 100%; }

    .content {
      display: inline-block;
      margin: 8% 8%;
      div {
        width: 8em;
        height: 8em;
        text-align: center;
        border: 1px solid #FFFFFF;
        border-radius: 70px;
        display: inline-block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none; user-select: none;
        span:nth-child(1) { display: block; font-size: 3.6em; height: 1em; margin-top: 0.4em; }
        span:nth-child(2) { font-size: 0.6em; }
      }

      div:hover { background-color: #ffffff; color: #000000; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
    }
  }
}

.nocircle { width: auto !important; border: none !important; height: auto !important; }
