<body>
  <div class='locked_wrapper'>
    <%= partial 'countdown_clock' %>
  </div>

  <div class='locked_wrapper'>
    <%= partial 'keypad' %>
  </div>

  <div class='unlocked_wrapper hidden'>
    <h1>
      UNLOCKED!!
    </h1>
  </div>
</body>
